// $color-primary: rgb(173, 31, 234);
// $color-secondary: rgb(70, 97, 230);
// $color-tertiary: rgb(98, 188, 250);

$color-text-primary: rgb(255, 255, 255);
// $color-text-secondary: rgb(58, 67, 116);
// $color-text-tertiary: rgb(70, 97, 230);
// $color-text-quaternary: rgb(100, 113, 150);

$color-background-primary: rgb(7, 7, 36);
// $color-background-secondary: rgb(255, 255, 255);
// $color-background-tertiary: rgb(242, 244, 255);
// $color-background-quaternary: rgb(55, 63,104);

// $color-shade: rgba(65, 65, 65, 0.664);
$color-border-primary: rgba(255, 255, 255, 0.2);
$color-border-secondary: rgba(255, 255, 255, 0.1);
// $color-placeholder: rgb(140, 146, 179);

// $color-planned: rgb(244, 159, 133);
// $color-in-progress: rgb(173, 31, 234);
// $color-live: rgb(98, 188, 250);