// $color-primary: rgb(173, 31, 234);
// $color-secondary: rgb(70, 97, 230);
// $color-tertiary: rgb(98, 188, 250);

$color-text-primary: rgb(255, 255, 255);
$color-text-secondary: rgb(255, 255, 255, 0.5);

$color-background-primary: rgb(7, 7, 36);

$color-border-primary: rgba(255, 255, 255, 0.2);
$color-border-secondary: rgba(255, 255, 255, 0.1);

$color-mercury:rgb(222, 244, 252);
$color-venus: rgb(247, 204, 127);
$color-earth: rgb(84, 91, 254);
$color-mars: rgb(255, 106, 69);
$color-jupiter: rgb(236, 173, 122);
$color-saturn: rgb(252, 203, 107);
$color-uranus: rgb(101, 240, 213);
$color-neptune: rgb(73, 126, 250);