body {
    margin: 0;
    background: $color-background-primary url('../assets/background-stars.svg') no-repeat center center / cover;
    min-height: 100vh;
  }

.Mercury {
    background-color: $color-mercury;  
}

.Venus {
    background-color: $color-venus;  
}

.Earth {
    background-color: $color-earth;  
}

.Mars {
    background-color: $color-mars;  
}

.Jupiter {
    background-color: $color-jupiter;  
}

.Saturn {
    background-color: $color-saturn;  
}

.Uranus {
    background-color: $color-uranus;  
}

.Neptune {
    background-color: $color-neptune;  
}