body {
    background-color: grey;
    margin: 0;
}

.Mercury {
    background-color: $color-mercury;  
}

.Venus {
    background-color: $color-venus;  
}

.Earth {
    background-color: $color-earth;  
}

.Mars {
    background-color: $color-mars;  
}

.Jupiter {
    background-color: $color-jupiter;  
}

.Saturn {
    background-color: $color-saturn;  
}

.Uranus {
    background-color: $color-uranus;  
}

.Neptune {
    background-color: $color-neptune;  
}