body {
    max-width: 1920px;
    margin: auto;

    main.planet {
        @include tablet-only {
            margin: 0 2rem;
        }

        @include desktop-only {
            margin: 8rem 2rem 0;
        }

        .planet__main-section {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .planet__main-section_visual {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 18.5rem;
                width: 100%;

                @include tablet-only {
                    height: 29rem;
                }

                @include desktop-only {
                    width: 65%;
                }

                &:has(.planet-geology) {
                    height: 25rem;

                    @include tablet-only {
                        height: 34.5rem;
                    }
                }
                
                .planet-visual-grouped {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    transform: scale(0.37);

                    @include tablet-only {
                        transform: scale(0.65);
                    }

                    @include desktop-only {
                        transform: scale(0.68);
                    }
    
                    .planet-geology {
                        width: 60%;
                        transform: translateY(-132px);
                        margin-bottom: -9rem;

                        @include tablet-only {
                            width: 46%;
                            margin-bottom: -9rem;
                        }

                        
                        @include desktop-only {
                            width: 42%;
                            transform: translateY(-176px);
                        }
                    }
                }
    
            }
                
    
            @include desktop-only {
                flex-direction: row;
                justify-content: center;
            }
            
            .description-switcher-wrapper {
                @include tablet-only {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                }
    
                @include desktop-only {
                    flex-direction: column;
                    align-items: flex-start;
                    width: 35%;
                }
            }
        }
    }
}