.view-switcher--mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid $color-border-primary;

    button {
        background-color: transparent;
        color: $color-text-primary;
        outline: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-family: $secondaryFont;
        font-size: 0.56rem;
        letter-spacing: 0.12rem;
        font-weight: 700;
    }

    .view-switcher--active {
        position: relative;

        span {
            position: absolute;
            height: 0.25rem;
            width: 100%;
            display: block;
            transform: translateY(12px);
        }
    }
}