.planet-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 21.875rem;
    font-family: $secondaryFont;
    row-gap: 1.2rem;
    padding-bottom: 1.2rem;

    @include tablet-only {
        width: 21.19rem;
        align-items: flex-start;
    }

    h1 {
        text-transform: uppercase;
        font-family: $primaryFont;
        font-size: 2.5rem;
        
    }

    p {
        width: 20.44rem;
        text-align: center;
        color: $color-text-secondary;
        font-size: 0.69rem;
        line-height: 1.38rem;

        @include tablet-only {
            text-align: left;
        }

        &.link {
            a {
                font-weight: 600;
                color: $color-text-secondary;
            }
        }
    }
}