.planet-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 21.875rem;
    font-family: $secondaryFont;
    row-gap: 1.2rem;
    padding-bottom: 1.2rem;

    @include tablet-only {
        width: 22.19rem;
        align-items: flex-start;
        row-gap: 1.7rem;
        margin-right: 1rem;
    }

    @include desktop-only {
        row-gap: 1.4rem;
        padding-bottom: 2.5rem;
    }

    h1 {
        text-transform: uppercase;
        font-family: $primaryFont;
        font-size: 2.5rem;
        font-weight: 400;

        @include tablet-only {
            font-size: 3rem;
        }

        @include desktop-only {
            font-size: 5rem;
        }
        
    }

    p {
        width: 20.44rem;
        text-align: center;
        color: $color-text-secondary;
        font-size: 0.69rem;
        line-height: 1.38rem;

        @include tablet-only {
            width: 100%;
            text-align: left;
        }

        @include desktop-only {
            width: 100%;
            font-size: 0.88rem;
            line-height: 1.56rem;
        }

        &.link {
            a {
                font-weight: 600;
                color: $color-text-secondary;
            }
        }
    }
}