.planet-characteristics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2.6rem;

    @include tablet-only {
        flex-direction: row;
        column-gap: 11px;
    }

    @include desktop-only {
        margin: 5rem 0 3.6rem;
        justify-content: center;
        column-gap: 30px;
    }

    div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 17.8rem;
        height: 3rem;
        border: 1px solid $color-border-primary;
        padding: 0 1rem;
        margin: 0.3rem 0;

        @include tablet-only {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 10.25rem;
            height: 5.5rem;
            margin: 0.3rem 0;
            row-gap: 0.5rem;
        }

        @include desktop-only {
            width: 13.94rem;
            height: 8rem;
        }

        p:first-of-type {
            font-family: $secondaryFont;
            color: $color-text-secondary;
            font-weight: 700;
            font-size: 0.5rem;
            text-transform: uppercase;
            letter-spacing: 0.05rem;

            @include desktop-only {
                font-size: 0.69rem;
            }
        }

        p:last-of-type {
            font-family: $primaryFont;
            font-weight: 400;
            font-size: 1.25rem;
            letter-spacing: -0.05rem;

            @include tablet-only {
                font-size: 1.5rem;
            }

            @include desktop-only {
                font-size: 2.5rem;
            }
        }
    }
}