.view-switcher-desktop {
    display: flex;
    flex-direction: column;
    width: 21.875rem;
    row-gap: 1rem;

    @include tablet-only {
        width: 21.19rem;
        align-items: flex-start;
    }

    @include desktop-only {
        width: 22.19rem;
    }

    div {
        height: 3rem;
        width: 100%;

        button {
            height: 100%;
            border: 1px solid $color-border-primary;
            color: $color-text-primary;
            font-family: $secondaryFont;
            text-align: left;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2.75px;
            font-size: 0.75rem;
            width: 100%;
            background: none;
            cursor: pointer;

            span {
                padding: 0 1.4rem;
                color: $color-text-secondary;
                font-weight: 600;
            }

            &:focus {
                border: 0;
            }
        }
    }
}