@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Spartan");
body {
  margin: 0;
  background: rgb(7, 7, 36) url("../assets/background-stars.svg") no-repeat center center/cover;
  min-height: 100vh;
}

.Mercury {
  background-color: rgb(222, 244, 252);
}

.Venus {
  background-color: rgb(247, 204, 127);
}

.Earth {
  background-color: rgb(84, 91, 254);
}

.Mars {
  background-color: rgb(255, 106, 69);
}

.Jupiter {
  background-color: rgb(236, 173, 122);
}

.Saturn {
  background-color: rgb(252, 203, 107);
}

.Uranus {
  background-color: rgb(101, 240, 213);
}

.Neptune {
  background-color: rgb(73, 126, 250);
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
  color: rgb(255, 255, 255);
}

.view-switcher-desktop {
  display: flex;
  flex-direction: column;
  width: 21.875rem;
  row-gap: 1rem;
}
@media only screen and (min-width: 640px) {
  .view-switcher-desktop {
    width: 21.19rem;
    align-items: flex-start;
  }
}
.view-switcher-desktop button {
  height: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
  font-family: "Spartan";
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.75px;
  font-size: 0.75rem;
  width: 100%;
}
.view-switcher-desktop button span {
  padding: 0 1.4rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
}
.view-switcher-desktop button:not(:focus) {
  background-color: transparent;
}
.view-switcher-desktop button:focus {
  border: 0;
}

.view-switcher-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.view-switcher-mobile button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Spartan";
  font-size: 0.56rem;
  letter-spacing: 0.12rem;
  font-weight: 700;
}
.view-switcher-mobile .view-switcher--active {
  position: relative;
  height: 3.3rem;
  display: flex;
  align-items: center;
}
.view-switcher-mobile .view-switcher--active button {
  color: rgb(255, 255, 255);
}
.view-switcher-mobile .view-switcher--active span {
  position: absolute;
  height: 0.25rem;
  width: 100%;
  bottom: 0;
}

.planet-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 21.875rem;
  font-family: "Spartan";
  row-gap: 1.2rem;
  padding-bottom: 1.2rem;
}
@media only screen and (min-width: 640px) {
  .planet-description {
    width: 21.19rem;
    align-items: flex-start;
  }
}
.planet-description h1 {
  text-transform: uppercase;
  font-family: "Antonio", sans-serif;
  font-size: 2.5rem;
}
.planet-description p {
  width: 20.44rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.69rem;
  line-height: 1.38rem;
}
@media only screen and (min-width: 640px) {
  .planet-description p {
    text-align: left;
  }
}
.planet-description p.link a {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
}

.planet-characteristics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2.6rem;
}
@media only screen and (min-width: 640px) {
  .planet-characteristics {
    flex-direction: row;
    -moz-column-gap: 11px;
         column-gap: 11px;
  }
}
.planet-characteristics div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 17.8rem;
  height: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 1rem;
  margin: 0.3rem 0;
}
@media only screen and (min-width: 640px) {
  .planet-characteristics div {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 10.25rem;
    height: 5.5rem;
    margin: 0.3rem 0;
    row-gap: 0.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .planet-characteristics div {
    width: 15.94rem;
    height: 8rem;
  }
}
.planet-characteristics div p:first-of-type {
  font-family: "Spartan";
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  font-size: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
@media only screen and (min-width: 1024px) {
  .planet-characteristics div p:first-of-type {
    font-size: 0.69rem;
  }
}
.planet-characteristics div p:last-of-type {
  font-family: "Antonio", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: -0.05rem;
}
@media only screen and (min-width: 640px) {
  .planet-characteristics div p:last-of-type {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .planet-characteristics div p:last-of-type {
    font-size: 2.5rem;
  }
}

.header-mobile {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 3.8rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header-mobile .header-mobile__title {
  font-family: "Antonio", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.25rem;
  letter-spacing: -0.07rem;
}
.header-mobile .header-mobile__burger-btn {
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-mobile .header-mobile__burger-btn--active {
  opacity: 0.2;
}
.header-mobile .header-mobile__nav {
  position: fixed;
  left: 0;
  top: calc(3.8rem + 1px);
  width: 100%;
  height: 100vh;
  padding: 1rem 0;
  background-color: rgb(7, 7, 36);
  z-index: 1;
}
.header-mobile .header-mobile__nav ul {
  list-style: none;
  padding: 0 1.3rem;
}
.header-mobile .header-mobile__nav ul > *:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.header-mobile .header-mobile__nav ul .nav-link {
  display: flex;
  align-items: center;
  font-family: "Spartan";
  font-size: 0.55rem;
  font-weight: 700;
  line-height: 1.56rem;
  letter-spacing: 0.09rem;
  padding: 1rem 0;
  text-transform: uppercase;
  text-decoration: none;
}
.header-mobile .header-mobile__nav ul .nav-link .color-dot {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}
.header-mobile .header-mobile__nav ul .nav-link img {
  margin-left: auto;
}

.header-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.25rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 2.5% 0 2.1%;
}
@media screen and (min-device-width: 640px) and (max-device-width: 848px) {
  .header-desktop {
    display: flex;
    flex-direction: column;
    height: 8rem;
    margin-top: 2.05rem;
  }
}
.header-desktop .header-desktop__title {
  font-family: "Antonio", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.25rem;
  letter-spacing: -0.07rem;
}
.header-desktop .header-desktop__nav {
  height: 100%;
}
@media screen and (min-device-width: 640px) and (max-device-width: 848px) {
  .header-desktop .header-desktop__nav {
    margin-top: 0.8rem;
  }
}
.header-desktop .header-desktop__nav ul {
  display: flex;
  -moz-column-gap: 2.0625rem;
       column-gap: 2.0625rem;
  margin: 0;
  height: 100%;
  padding-left: 0;
  justify-content: flex-end;
}
@media screen and (min-device-width: 640px) and (max-device-width: 848px) {
  .header-desktop .header-desktop__nav ul {
    -moz-column-gap: 4.5%;
         column-gap: 4.5%;
    justify-content: center;
  }
  .header-desktop .header-desktop__nav ul .nav-link span {
    bottom: 0;
    top: unset !important;
  }
}
.header-desktop .header-desktop__nav ul li {
  list-style-type: none;
}
.header-desktop .header-desktop__nav ul li .nav-link {
  text-decoration: none;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.header-desktop .header-desktop__nav ul li .nav-link h2 {
  font-family: "Spartan";
  font-size: 0.69rem;
  font-weight: 700;
  line-height: 1.56rem;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
.header-desktop .header-desktop__nav ul li .nav-link span {
  position: absolute;
  top: 0;
  opacity: 0;
  height: 0.25rem;
  width: 100%;
  display: block;
}
.header-desktop .header-desktop__nav ul li .nav-link.active h2 {
  color: rgb(255, 255, 255);
}
.header-desktop .header-desktop__nav ul li .nav-link.active span {
  opacity: 1;
}

body {
  max-width: 1920px;
  margin: auto;
}
@media only screen and (min-width: 640px) {
  body main.planet {
    margin: 0 2rem;
  }
}
body main.planet .planet__main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main.planet .planet__main-section .planet__main-section_visual {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 18.5rem;
  width: 100%;
}
@media only screen and (min-width: 640px) {
  body main.planet .planet__main-section .planet__main-section_visual {
    height: 29rem;
  }
}
body main.planet .planet__main-section .planet__main-section_visual:has(.planet-geology) {
  height: 25rem;
}
@media only screen and (min-width: 640px) {
  body main.planet .planet__main-section .planet__main-section_visual:has(.planet-geology) {
    height: 34.5rem;
  }
}
body main.planet .planet__main-section .planet__main-section_visual .planet-visual-grouped {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(0.37);
}
@media only screen and (min-width: 640px) {
  body main.planet .planet__main-section .planet__main-section_visual .planet-visual-grouped {
    transform: scale(0.65);
  }
}
body main.planet .planet__main-section .planet__main-section_visual .planet-visual-grouped .planet-geology {
  width: 60%;
  transform: translateY(-132px);
  margin-bottom: -9rem;
}
@media only screen and (min-width: 640px) {
  body main.planet .planet__main-section .planet__main-section_visual .planet-visual-grouped .planet-geology {
    width: 46%;
    margin-bottom: -9rem;
  }
}
@media only screen and (min-width: 1024px) {
  body main.planet .planet__main-section {
    flex-direction: row;
    justify-content: center;
  }
}
@media only screen and (min-width: 640px) {
  body main.planet .planet__main-section .description-switcher-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  body main.planet .planet__main-section .description-switcher-wrapper {
    flex-direction: column;
  }
}/*# sourceMappingURL=app.css.map */